In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df = pd.read_csv("adult.data.csv")

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [17]:
age_men = df.loc[df["sex"] == "Male", "age"]
age_men.mean()

39.43354749885268

In [19]:
df["race"].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [24]:
race_len = [
                  len(df.loc[df["race"] == "White"]), 
                  len(df.loc[df["race"] == "Black"]), 
                  len(df.loc[df["race"] == "Asian-Pac-Islander"]),
                  len(df.loc[df["race"] == "Amer-Indian-Eskimo"]),
                  len(df.loc[df["race"] == "Other"])
                ]
race_index = ["White", "Black", "Asian-Pac-Islander", "Amer-Indian-Eskimo", "Other"]
race_count = pd.Series(race_len, index=race_index)
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

In [37]:
age_men = df.loc[df["sex"] == "Male", "age"]
average_age_men = age_men.mean()
average_age_men = round(average_age_men, 1)
average_age_men

39.4

In [34]:
len_bachelors = len(df.loc[df["education"] == "Bachelors", "education"])
last_index = df.shape[0]
percentage_bachelors = (len_bachelors/last_index) * 100
percentage_bachelors = round(percentage_bachelors, 1)
percentage_bachelors

16.4

In [28]:
len_bachelors = len(df.loc[df["education"] == "Bachelors", "education"])
last_index = df.index[-1]
percentage_bachelors = len_bachelors / last_index * 100
percentage_bachelors = round(percentage_bachelors, 1)
percentage_bachelors

16.4

In [44]:
filtro_educacao = df["education"].isin(["Bachelors", "Masters", "Doctorate"])
filtro_salario = df["salary"] == ">50K"

tot_higher_education = len(df.loc[filtro_educacao])
higher_education_rich = len(df.loc[filtro_educacao & filtro_salario])
higher_education_rich = higher_education_rich / tot_higher_education * 100
higher_education_rich = round(higher_education_rich, 1)

46.5

In [49]:
filtro_lower_educacao = ~df["education"].isin(["Bachelors", "Masters", "Doctorate"])

tot_lower_education = len(df.loc[filtro_lower_educacao])
lower_education_rich = len(df.loc[filtro_lower_educacao & filtro_salario])
lower_education_rich = lower_education_rich / tot_lower_education * 100
lower_education_rich = round(lower_education_rich, 1)

17.4

In [28]:
min_work_hours = min(df["hours-per-week"])

filter_salary = df["salary"] == ">50K"
filter_min_work_hours = df["hours-per-week"] == min_work_hours

num_min_workers = len(df.loc[filter_min_work_hours])
num_min_workers_rich = len(df.loc[filter_min_work_hours & filter_salary])

rich_percentage = num_min_workers_rich / num_min_workers * 100

10.0

In [33]:
countries = pd.Series()
countries = df["native-country"].unique()
bigger_earn = []
for i in countries:
    filter_country = df["native-country"] == i
    filtro_salary = df["salary"] == ">50K"
    
    tot_country = len(df.loc[filter_country])
    salary_upper_then_50k = len(df.loc[filter_country & filtro_salary])
    percentage_upper = salary_upper_then_50k / tot_country * 100
    country = i
    bigger_earn.append((percentage_upper, country))
    
highest_earning_country = max(bigger_earn, key=lambda x: x[0])[1]
highest_earning_country_percentage = round(max(bigger_earn, key=lambda x: x[0])[0], 1)
highest_earning_country_percentage

41.9

In [50]:
filter_country = df["native-country"] == "India"
filtro_salary = df["salary"] == ">50K"
occupation = pd.Series()
occupation = df.loc[filter_country & filtro_salary, "occupation"]
top_IN_occupation = occupation.mode()[0]

'Prof-specialty'